Thumbs.db
launch.json
settings.json
breadcrumb.txt
.DS_Store
.svn
.hg
*.class

.gradle/
.metadata/

app/dist/
app/doc/
app/help/
dist/
!scenegraph/dist/
mac_java6_workaround/
packages/java_runtime/jdk*
eclipseWorkingDir/
working_dir/
working_dir_backup/
plugins/**/classes
build/
bootstrap/
**/.classpath
**/.project
**/.settings
**/bin
test
